.headerContainer{
    padding-top: 20px;
}

h1{
    text-align: center;
    font-size: xx-large;
}

h2{
    font-size: large;
    padding-top: 10px;
}

img{
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    padding-top: 10px;
}

/* styles for team members table */
#text{
    padding-top: 20px;
}


.teamMembersTableContainer,
.techstackTableContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center; /* Center horizontally */
}


.row1teamMembers,
.row2teamMembers,
.row1techstack,
.row2techstack {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

.aneesContainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 650px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.markContainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 650px;
    margin: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.bryanContainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 650px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.urielContainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 650px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.angelContainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 650px;
    margin: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.brandonContainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 650px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.phpcontainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 225px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.htmlcontainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 225px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.csscontainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 225px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.javascriptcontainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 225px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.mysqlcontainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 225px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.bootstrapcontainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 225px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.googleapiContainer{
    display: table-cell;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 225px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}