/*pages.css */

.container {
    padding-right: 0;
    padding-left: 0;

}
 body {
   background-color: #95acbe;
}
.text-center {
    margin-top: 20px;
    padding-left: 20px; 
}
.text-center img {
    max-width: 130px; 
    border-radius: 15px;
}
/*------------------------------------------------------------------------------------------- */
.navbar-nav {
    border-radius: 10px; /* Adjust the value as needed */
}

.nav-item {
    margin-right: 90px; 
}
/* Navigation text */
.nav-link {
    color: #ffffff;
    font-size: 25px; 
}

/*  text/button profile */
.bi-person-circle {
    color: white;
}
/*------------------------------------------------------------------------------------------- */
/* footer text */
footer,
footer p,
footer h6 {
    color: white;
    border-radius: 10px;
}
/*  "Stay connected with us: */
footer .d-none span {
    color: white;
}
/*  copyright text */
footer .text-center {
    color: white;
}

/* social media icons */
footer .bi-github,
footer .bi-instagram ,
footer .bi-twitter-x,
footer .bi-facebook{
    color: white;
}
